/* about section ar */
.head-section {
    color: var(--branch-color);
    position: relative;
}

.head-section::after {
    content: "";
    position: absolute;
    background-color: var(--secbranch-color);
    width: 100px;
    height: 2px;
    right: 0;
    bottom: 0;
}

.color-text:hover i {
    padding-right: 5px;
}
/* --------------------------------------------- */